<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Locale\Format"
                type="Magcurrency\Bitcoin\Model\Framework\Locale\Format"/>
    <preference for="Magento\Framework\Currency"
                type="Magcurrency\Bitcoin\Model\Framework\Currency"/>
    <preference for="Magento\Framework\Locale\Config"
                type="Magcurrency\Bitcoin\Model\Framework\Locale\Config"/>
    <preference for="Magento\Config\Model\Config\Backend\Currency\Base"
                type="Magcurrency\Bitcoin\Model\Config\Backend\Currency\Base"/>
    <preference for="Magento\Config\Model\Config\Backend\Currency\Allow"
                type="Magcurrency\Bitcoin\Model\Config\Backend\Currency\Allow"/>
    <preference for="Magento\Config\Model\Config\Backend\Currency\DefaultCurrency"
                type="Magcurrency\Bitcoin\Model\Config\Backend\Currency\DefaultCurrency"/>
</config>
